/* .navbar-nav {
width: 100%;
text-align: right;
}
.navbar-nav > li {
float: none;
display: inline-block;

}
.navbar-nav > li.navbar-right {
float: right !important;
} */

.sound {
	color: gray;
	font-style: italic;
}

.bar {
	margin-right: 7px;
	margin-left: 10px;
    float: none;
    display: inline-block;
	float: right !important;
}