{% extends 'app/base.html' %}
{% block active %}
{% include 'app/navbar.html' %}

<ul>
<h1>Detail</h1>

{% for x in q|dictsort:"name.lower" %}
	<b>{{ forloop.counter }}</b>. {{ x.name }} ?
		<form action="{% url 'get_file' x.id %}" method='POST' enctype="multipart/form-data">
			{% csrf_token %}
			{% if x.robot_voice %}
				<span class="sound">{{ x.robot_voice }}</span>
			{% endif %}

			<div class="d-inline-block">
				<input class="form-control form-control-sm" type="file" id="filename" name="filename">
			</div>
			<div class="d-inline-block">
				<input class="btn btn-outline-success btn-sm" type="submit" value="Upload">
			</div>
		</form>

<br>
{% endfor %}
{% endblock %}
</ul>
<script>
const fileSelector = document.getElementById('file-selector');
fileSelector.addEventListener('change', (event) => {
	const fileList = event.target.files;
	console.log(fileList);
});
</script>
