{% extends 'app/base.html' %}
{% block active %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Gneppa</title>
</head>
<body>

	{% include 'app/navbar.html' %}

	{% for level in object_list %}
		<div class="card d-inline-block">
			<div class="card-body">
				<a href="{% url 'detail' level.id %}">{{ level.name}}</a>
			</div>
		</div>

		{% empty %} 
			<div class="card-body">
				<li>No Levels yet</li>
			</div>

		{% endfor %}
	<br/>
	<br/>
	<ul class="pagination justify-content-center">
		{% if page_obj.has_previous %}
		<li class="page-item">
			<a class="page-link" tabindex="-1" aria-disabled='true' href="?page={{ page_obj.previous_page_number }}">
		<span aria-hidden="true">&laquo;</span>
			</a>
		</li>
		{% else %}
		<li class="page-item">
		  <a class="page-link" href="#" aria-label="Next">
			<span aria-hidden="true">&laquo;</span>
		  </a>
		</li>
		
		{% endif %}

		{% for i in paginator.page_range %}
		{% if page_obj.number == i %}

		<li class="page-item active" aria-current="page">
			<a class="page-link">{{ i }} <span class="sr-only">(current)</span></a>
		</li>
		{% else %}
		<li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
		{% endif %}
		{% endfor %}

		{% if page_obj.has_next %}
		<li class="page-item">
			<a class="page-link" aria-label="Next" href="?page={{ page_obj.next_page_number }}">
		<span aria-hidden="true">&raquo;</span>
			</a>
		</li>
		{% else %}
		<li class="page-item">
		  <a class="page-link" href="#" aria-label="Next">
			<span aria-hidden="true">&raquo;</span>
		  </a>
		</li>

		{% endif %}
		</ul>
	</div>
</body>
</html>
{% endblock %}
