{% extends 'app/base.html' %}
{% block active %}
{% include 'app/navbar.html' %}


<ul>
	{% if name %}
		{% for x in name %}
			<a href="{% url 'detail' x.id %}"><li>{{ x.name }}</li></a>
		{% endfor %}
	{% else %}
		<li>Not Found</li>
	{% endif %}
</ul>

{% endblock %}
